<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.laphonegap.helloworld"
        versionCode="10" 
        version   = "1.0.0">
		
	<!-- For more information about using config.xml, see
		https://build.phonegap.com/docs/config-xml -->

    <!-- versionCode is optional and Android only -->
    
	<!-- this app will have no device api access -->
	<preference name="permissions" value="none"/>
	
	<!-- the default icon to be use, for BlackBerry must be less than 16kb -->
	<icon src="logo.png" />

	<!-- the default splash screen to use -->
	<!-- iOS -->
	<gap:splash src="logo.png" width="320" height="480" />
	<gap:splash src="logo.png" width="640" height="960" />
	<gap:splash src="logo.png" width="1024" height="768" />
	<gap:splash src="logo.png" width="768" height="1024" />
	<!-- Android -->
	<gap:splash src="logo.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="logo.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="logo.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="logo.png" gap:platform="android" gap:density="xhdpi" />
	<!-- BlackBerry -->
	<gap:splash src="logo.png" gap:platform="blackberry" />
	<!-- Windows Phone -->
	<gap:splash src="logo." gap:platform="winphone" />

    <name>VinNetTech</name>

    <description>
        Come make friends. 
    </description>

    <author href="http://m.vinnettech.com" email="vinmeddie@hotmail.com">
        VinMeddie
    </author>

</widget>